<!-- password_reset_done.html -->
{% extends "BC/base_dv.html" %}

{% block content %}
<div class="layout">
  <h2>Password reset email sent</h2>
  <p>We've sent an email with instructions for resetting your password.</p>
  <a href="{% url 'sign-in'%}" class="moreinfo-btn">Back to Login</a>


</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


.layout {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 500px;
  border-radius: 5px;
  background: #fff;
}
</style>

{% endblock %}