{% extends "BC/base_dv.html" %}
{% load static %}
{% block content %}
    <section class="content">
        <div class="event-detail-outer">
            <div class="container">
                <div class="event-detail-inner">
                    <div class="profile-detail-left">
                        <b>You are view this profile with the following permisions:</b>
                        <br>
                        {{ ViewPermissions }}
                            <h3>{{ object.first_name }} {{ object.last_name }}</h3>
                            {% if 'user' in ViewPermissions %}
                                {% for k, v in object.social_media.items %}
                                    <h5>{{ k }}: {{ v }}</h5>
                                {% endfor %}
                                <h5>USAC License:</h5> {{ object.usac_license_number }}, <b>Is Verified:</b> {{ object.usac_license_number_verified|default:"NO" }}
                            <h4>USAC Licenses:</h4>

                            {% for u in USACData %}
                                <ui>
                                    <li>Type: <b>{{ u.license_type|default:"N/A" }}</b></li>
                                <li>Club: {{ u.club|default:"N/A" }}</li>
                                <li>Area: {{ u.local_association }}</li>
                                </ui>
                            {% endfor %}
                            {% endif %}
                    </div>
                    <div class="profile-detail-right">
                        {#TODO: Add race result#}
                        {#TODO: Add club membership#}
                        <h5> Race results here </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}